### 1. Load  Workbook CP1 BOOK PBI

In [24]:
import pandas as pd

# Path to  My Excel file has taken for easy accessing And read it with Pnadas
file_path = r"C:\Users\USER\OneDrive\Desktop\Power Bi Tableau Imarticus\CP1 BOOK PBI.xlsx"

df = pd.read_excel(file_path)   # file_path is string like "data.xlsx"

In [28]:
print(df.shape)
type(df)

(1048575, 16)

pandas.core.frame.DataFrame

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 16 columns):
 #   Column                        Non-Null Count    Dtype
---  ------                        --------------    -----
 0   Region                        1048575 non-null  object
 1   State                         1048575 non-null  object
 2   Sector                        1048575 non-null  object
 3   Station Type                  1048575 non-null  object
 4   Station                       1048575 non-null  object
 5   Date                          1048575 non-null  datetime64[ns]
 6   Monitored CAP in MW           981812 non-null   float64
 7   Generation / Today's Program  984543 non-null   float64
 8   Generation / Today's Actual   984543 non-null   float64
 9   Generation / FY YTD Program   984543 non-null   float64
 10  Generation / FY YTD Actual    984543 non-null   float64
 11  Coal Stock in Days            246251 non-null   float64
 12  CAP under outage              973247 non-null   float64
 13  Outage Date                   0 non-null        float64
 14  Expected Date / Sync Date     0 non-null        float64
 15  Remarks                       0 non-null        float64
dtypes: datetime64[ns](1), float64(10), object(5)
memory usage: 128.0+ MB

In [30]:
df.isnull().sum()

Region                                0
State                                 0
Sector                                0
Station Type                          0
Station                               0
Date                                  0
Monitored CAP in MW               66763
Generation / Today's Program      64032
Generation / Today's Actual       64032
Generation / FY YTD Program       64032
Generation / FY YTD Actual        64032
Coal Stock in Days               802324
CAP under outage                  75328
Outage Date                     1048575
Expected Date / Sync Date       1048575
Remarks                         1048575
dtype: int64

In [31]:
import pandas as pd

# 1. Find columns with nulls
null_columns = df.columns[df.isnull().any()]
print("Columns with null values:", null_columns)

# 2. Separate categorical and numerical columns
categorical_nulls = df[null_columns].select_dtypes(include=['object']).columns
numerical_nulls = df[null_columns].select_dtypes(include=['number']).columns

print("Categorical columns with nulls:", categorical_nulls.tolist())
print("Numerical columns with nulls:", numerical_nulls.tolist())

Columns with null values: Index(['Monitored CAP in MW', 'Generation / Today's Program',
       'Generation / Today's Actual', 'Generation / FY YTD Program',
       'Generation / FY YTD Actual', 'Coal Stock in Days', 'CAP under outage',
       'Outage Date', 'Expected Date / Sync Date', 'Remarks'],
      dtype='object')
Categorical columns with nulls: []
Numerical columns with nulls: ['Monitored CAP in MW', "Generation / Today's Program", "Generation / Today's Actual", 'Generation / FY YTD Program', 'Generation / FY YTD Actual', 'Coal Stock in Days', 'CAP under outage', 'Outage Date', 'Expected Date / Sync Date', 'Remarks']

In [32]:
import pandas as pd

# Drop fully empty columns
df = df.drop(columns=['Outage Date', 'Expected Date / Sync Date', 'Remarks'])



# Handle partially null columns
df['CAP under outage'] = df['CAP under outage'].fillna(0)  # no outage = 0
df['Coal Stock in Days'] = df['Coal Stock in Days'].fillna(df['Coal Stock in Days'].median())
df['Monitored CAP in MW'] = df['Monitored CAP in MW'].fillna(df['Monitored CAP in MW'].median())
df["Generation / Today's Program"] = df["Generation / Today's Program"].fillna(df["Generation / Today's Program"].median())
df["Generation / Today's Actual"] = df["Generation / Today's Actual"].fillna(df["Generation / Today's Actual"].median())
df['Generation / FY YTD Program'] = df['Generation / FY YTD Program'].fillna(df['Generation / FY YTD Program'].median())
df['Generation / FY YTD Actual'] = df['Generation / FY YTD Actual'].fillna(df['Generation / FY YTD Actual'].median())

# Verify the nulls in df
print(df.isnull().sum())

Region                          0
State                           0
Sector                          0
Station Type                    0
Station                         0
Date                            0
Monitored CAP in MW             0
Generation / Today's Program    0
Generation / Today's Actual     0
Generation / FY YTD Program     0
Generation / FY YTD Actual      0
Coal Stock in Days              0
CAP under outage                0
dtype: int64

Handling Missing Values in Numerical Columns:
1. All partially missing numerical columns were cleaned to ensure a complete dataset:
2. CAP under outage: Nulls replaced with 0 (indicating no outage).
3. Other columns (Monitored CAP in MW, Generation / Today's Program, Generation / Today's Actual,
   Generation / FY YTD Program, Generation / FY YTD Actual, Coal Stock in Days) had missing values filled with their median values.

All numerical columns with missing values were cleaned: CAP under outage nulls replaced with 0, 
and other numerical nulls filled with median values. Dataset now has no missing values.

### Identify all rows that are exact duplicates.

In [35]:
# Check for duplicate rows
duplicate_rows = df[df.duplicated()]

# Number of duplicate rows
print("Number of duplicate rows:", duplicate_rows.shape[0])

# View the duplicate rows 
print(duplicate_rows)

Number of duplicate rows: 0
Empty DataFrame
Columns: [Region, State, Sector, Station Type, Station, Date, Monitored CAP in MW, Generation / Today's Program, Generation / Today's Actual, Generation / FY YTD Program, Generation / FY YTD Actual, Coal Stock in Days, CAP under outage]
Index: []

1. dataset has no duplicate rows.
2. All 1,048,575 rows are unique.
3. No need to drop anything.

This means  DataFrame is now clean:
1. No missing values in numerical columns
2. Fully empty columns removed
3. No duplicates

###### Python snippet to detect outliers using the IQR method for all numeric columns in our cleaned DataFrame

In [36]:

# Select numeric columns
numeric_cols = df.select_dtypes(include=['number']).columns

# Dictionary to store outliers for each column
outliers = {}

for col in numeric_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    # Identify outliers
    outlier_rows = df[(df[col] < lower_bound) | (df[col] > upper_bound)]
    outliers[col] = outlier_rows.shape[0]
    


# Display number of outliers in each numeric column
for col, count in outliers.items():
    print(f"{col}: {count} outliers")

Monitored CAP in MW: 66503 outliers
Generation / Today's Program: 104787 outliers
Generation / Today's Actual: 111622 outliers
Generation / FY YTD Program: 128087 outliers
Generation / FY YTD Actual: 128245 outliers
Coal Stock in Days: 238217 outliers
CAP under outage: 107922 outliers

Using the IQR method, several numeric columns contained outliers: Monitored CAP in MW (66,503), 
Generation / Today's Program (104,787), Generation / Today's Actual (111,622), Generation / FY YTD Program (128,087), 
Generation / FY YTD Actual (128,245), Coal Stock in Days (238,217), and CAP under outage (107,922).

* For Power BI visualization, these extreme values are retained to highlight significant events rather than being removed.

* You donâ€™t need to perform IQR detection if the goal is dashboards and reporting.
* Just use your cleaned dataset in Power BI.
* Optionally, in Power BI we can create filters or conditional formatting to show extreme values.

## Cleaned Data

In [38]:
df.head(10)

,Region,State,Sector,Station Type,Station,Date,Monitored CAP in MW,Generation / Today's Program,Generation / Today's Actual,Generation / FY YTD Program,Generation / FY YTD Actual,Coal Stock in Days,CAP under outage
0,NORTHERN,DELHI,STATE SECTOR,THER (GT),I.P.CCPP,2020-11-17,270.0,1.75,1.00,401.75,323.43,10.0,180.0
1,NORTHERN,DELHI,STATE SECTOR,THER (GT),PRAGATI CCGT-III,2020-11-17,1500.0,10.13,11.79,2304.21,2002.30,10.0,500.0
2,NORTHERN,DELHI,STATE SECTOR,THER (GT),PRAGATI CCPP,2020-11-17,330.4,4.56,3.88,1031.60,1025.02,10.0,104.6
3,NORTHERN,DELHI,PVT SECTOR,THER (GT),RITHALA CCPP,2020-11-17,108.0,0.00,0.00,0.00,0.00,10.0,108.0
4,NORTHERN,DELHI,PVT SECTOR,THER (GT),HARYANA,2020-11-17,275.5,1.65,1.29,280.92,261.02,10.0,0.0
5,NORTHERN,HARYANA,STATE SECTOR,THERMAL,PANIPAT TPS,2020-11-17,710.0,2.57,0.00,1301.69,628.86,26.0,710.0
6,NORTHERN,HARYANA,STATE SECTOR,THERMAL,RAJIV GANDHI TPS,2020-11-17,1200.0,14.63,0.00,3351.71,983.69,38.0,1200.0
7,NORTHERN,HARYANA,STATE SECTOR,THERMAL,YAMUNA NAGAR TPS,2020-11-17,600.0,10.03,0.00,2361.51,1204.02,65.0,600.0
8,NORTHERN,HARYANA,PVT SECTOR,THERMAL,MAHATMA GANDHI TPS,2020-11-17,1320.0,18.63,0.00,4383.71,2536.70,54.0,1320.0
9,NORTHERN,HARYANA,CENTRAL SECTOR,THERMAL,INDIRA GANDHI STPP,2020-11-17,1500.0,16.38,0.00,3748.26,1327.56,44.0,1500.0

### Observations:

1. Each row represents power generation data for a station on a specific date.

2. Columns like Monitored CAP in MW, Generation / Today's Program/Actual, Coal Stock in Days, and CAP under outage are numeric and ready for aggregation.

3. Categorical columns like Region, State, Sector, Station Type can be used for grouping and filtering in SQL queries.

4. The dataset is cleaned, no nulls in numeric columns, and no duplicates.

* Ready to be moved into SQL for aggregation queries to support Power BI dashboards.

## Export Cleaned Data into sql server for next operations:

In [39]:
from sqlalchemy import create_engine
import pyodbc

### 1. Connect Python to SQL Server

In [41]:
from sqlalchemy import create_engine
import urllib

# SQL Server connection details
server = 'DESKTOP-I3RMHOT'
database = 'capstone1'

# Connection string using Windows Authentication
params = urllib.parse.quote_plus(
    f"DRIVER={{ODBC Driver 17 for SQL Server}};"
    f"SERVER={server};"
    f"DATABASE={database};"
    f"Trusted_Connection=yes;"
)

# Create engine
engine = create_engine(f"mssql+pyodbc:///?odbc_connect={params}")

# Store DataFrame in SQL Server
df.to_sql("power_data", engine, if_exists="replace", index=False)

print("DataFrame successfully stored in SQL Server using Windows Authentication!")

DataFrame successfully stored in SQL Server using Windows Authentication!

After cleaning, the DataFrame was successfully stored in SQL Server (database: capstone1, table: power_data) using Windows Authentication. This enables running SQL queries for aggregation, filtering, and grouping, which will be used as the data source for Power BI dashboards and visualizations.